POSTGRES_DB=trs_db
POSTGRES_USER=trs_user
POSTGRES_PASSWORD=change_this_to_a_long_random_secret
APP_JWT_SECRET=change_this_to_a_long_random_jwt_secret
FRONTEND_ALLOWED_ORIGINS=http://localhost:3001,http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:8081
